.vs/*
Releases/*
Build/x64/*
Build/Win32/*

Tester/Intermediate/*
Text Editor with Compression/Intermediate/*
DesktopGUI/Intermediate/*

DesktopGUI/*.exe
DesktopGUI/*.cfg
DesktopGUI/log/*
DesktopGUI/resource/*
DesktopGUI/temp/*